@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto+Condensed&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto+Condensed&display=swap');

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, textarea, ul, input{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
$color1: aliceblue;
$green: rgba(28, 104, 28, 0.726); 


@mixin h2 ($color, $shadow ) {
    font-size: 3rem;
    font-weight: 800;
    color: $color; 
    text-shadow: $shadow;
}
@mixin h4 ($color, $shadow ) {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color; 
    text-shadow: $shadow;
    
}
// ---------------------------------INDEX
.wrapper {
    background-color: #15a612;
    background-image: linear-gradient(45deg, #15a612 0%, #4fbb17 50%, #03502f 100%);
    
//INICIO NAV
    aside {
        box-shadow: 4px 4px rgba(36, 36, 36, 0.671);
        position: sticky;
        top: 5px;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.863);
        padding-bottom: 20px;
        border-top-right-radius: 3px;

        .header-nav {
            width: 100%;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            .logoimg {
                background-image: url("Imagenes/letter-b.png");
                width: 90px;
                height: 90px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .logo {
                margin-top: 9px;
                @include h2(aliceblue, 2px 2px rgb(49, 49, 49));
                text-align: center;
                text-transform: uppercase;
            }
        }

        nav {
            height: auto;
            @include h4(aliceblue, none);
            display: flex;
            justify-content: center;

            li {
                width: 100%;

                .btn {
                    font-size: 1.3rem;
                    margin-bottom: 5px;

                    a{
                        text-decoration: none;
                        color: aliceblue;
                    }
                }
            }

            footer {
                p {
                    color: $green;
                }
            }
        }
    }
//FIN DEL NAV
    .mainCont {
        margin: 0;
        
        .products {
            padding: 40px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.863);
            border-top-left-radius: 3px;
            flex-wrap: wrap;
            h2 {
                @include h2(aliceblue, none);
            }

            .cards {
                margin-top: 20px;
                text-align: center;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                gap: 1rem;

                .producto{
                    .imgProduct {
                        max-width: 250px;
                        height: 300px;
                        border-radius: 1rem;
                        box-shadow: 2px 2px black;
                        
                        
                    }
                    .infoProduct{
                        margin-top: -2rem;
                        position: relative;
                        color: aliceblue;
                        padding:5px 0 10px;
                        border-radius: 1rem;
                        box-shadow: 2px 2px black;
                        background-color:  #2D8A30;
                    }
                }
            }
        }
    }
}
//CARRITO
.products-cart{
    flex-direction: column;
    .cartProduct{
        width: 100%;
        background-color: rgba(34, 34, 34, 0.568);
        border-radius: 1rem;
        color: aliceblue;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
        .imgCart{
            border-radius: 45%;
            width: 75px;
            height: 75px;
        }
    }
    .cartAction{
        justify-content: space-between;
        align-items: center;
        .cartRight{
            padding: 25px;
            .total{
                color: aliceblue;
                height: 2.5rem;
                padding: 10px 20px 10px;
                border-bottom-left-radius: 1rem;
                background-color: gray;
            }
        }

    }
}

