@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto+Condensed&display=swap');@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,800;1,800&family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, a, textarea, ul, input{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
$color1: aliceblue;
$green: rgba(28, 104, 28, 0.726); 

@import "_nav.scss";
@mixin h2 ($color, $shadow ) {
    font-size: 3rem;
    font-weight: 800;
    color: $color; 
    text-shadow: $shadow;
}
@mixin h4 ($color, $shadow ) {
    font-size: 1.5rem;
    font-weight: 400;
    color: $color; 
    text-shadow: $shadow;
    
}
// ---------------------------------INDEX
.wrapper {
    background-color: #15a612;
    background-image: linear-gradient(45deg, #15a612 0%, #4fbb17 50%, #03502f 100%);
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
    

    aside {
        box-shadow: 4px 4px rgba(36, 36, 36, 0.671);
        position: sticky;
        top: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.863);
        padding: 0;
        border-top-right-radius: 3px;

        .header-nav {
            width: 100%;
            display: flex;
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;


            .logoimg {
                background-image: url("Imagenes/letter-b.png");
                width: 90px;
                height: 90px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }

            .logo {
                margin-top: 9px;
                @include h2(aliceblue, 2px 2px rgb(49, 49, 49));
                text-align: center;
                text-transform: uppercase;
            }
        }

        nav {
            height: auto;
            @include h4(aliceblue, none);
            display: flex;
            justify-content: center;

            li {
                width: 100%;

                .btn {
                    font-size: 1.3rem;
                    margin-bottom: 5px;

                    a{
                        text-decoration: none;
                        color: aliceblue;
                    }
                }
            }

            footer {
                p {
                    color: $green;
                }
            }
        }
    }

    .mainCont {
        padding: 0 10px;

        .products {
            padding: 40px;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.863);
            border-top-left-radius: 3px;
            display: flex;
            flex-direction: column;

            h2 {
                @include h2(aliceblue, none);
            }

            .cards {
                margin-top: 20px;
                text-align: center;
                justify-content: space-around;
                flex-wrap: wrap;
                gap: 5px;
                

                .item{
                    margin-top: 5px;
                    background-color: $green;
                    display: inline-block;
                    border: 2px solid black;
                    border-radius: 1rem;
                    padding: 0;
                    

                    .imgproduct {
                        max-width: 100%;
                        height: 55vh;
                        border-radius: 1rem;
                        border: 1px solid black;
                    }
                    .infoproduct{
                        color: aliceblue;
                        padding:5px 0 10px;
                        
                    }
                }
            }
        }

    }
}

// .footer{
    
//     background-color: rgb(3, 3, 3);
//     color: aliceblue;
//     height: auto;
//     padding: 20px 0 10px 0; 
//     p {
//         font-size: 20px;
//         text-align: center;
//     }
//     .mediacontainer{
//         text-align: center;
        
//         a {
//             text-decoration: none;
//             color: aliceblue;
//             font-size: 30px;
            
//             &.ig:hover {
//                 color: rgb(121, 0, 121);
//                 transition: all 0.8s;
//             }
//             &.fb:hover {
//                 color: #4158D0;
//                 transition: all 0.8s;
//             }
//             &.yt:hover {
//                 color: red;
//                 transition: all 0.8s;
//             }
            
//             &.sp:hover {
//                 color: rgb(5, 151, 5);
//                 transition: all 0.8s;
//             }
//         }
//     }
// }


